h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:white;
  text-align:center;
  background-color:rgb(23, 95, 23);
}

h3 {
  text-align:center;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.selfie {
  width:500px;
}

.about-me {
  float:right;
  width:400px;
  margin:12px;
  border:2px dotted green;
  padding:6px;
  box-sizing:border-box;
}

.about-me h2 {
  text-align:center;
}

.location {
  color:rgb(23, 95, 23);
  font-family:'Courier New', Courier, monospace;
}

.projects {
  margin: 4px;
  border:2px solid green;
  padding:6px;
  box-sizing:border-box;
}

.projects h2 {
  color:green;
}

.why-coding {
  background-color:rgb(246, 194, 96);
}

#mountain-photo {
  width:60vw;
  height:50vh;
}

#green {
  width:34vw;
  height:50vh;
}

#sun {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
  color:rgb(215, 144, 12);
  font-weight:bold;
}