h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color:rgb(23, 95, 23);
}

.selfie {
  width:500px;
}

.about-me {
  float:right;
  width:400px;
  margin:12px;
  border:2px dotted green;
  padding:6px;
  box-sizing:border-box;
}

.about-me h2 {
  text-align:center;
}

.location {
  color:green;
}

.projects {
  margin: 4px;
  border:2px solid green;
  padding:6px;
  box-sizing:border-box;
}

#nature-photo {
  width:220px;
}

#palm-photo {
  width:220px;
  height:293px;
}