h1 {
  color:white;
  text-align:center;
  background-color:rgb(23, 95, 23);
}

h3 {
  text-align:center;
}

h4 {
  text-align:center;
}

body {
  font-family:Georgia, 'Times New Roman', Times, serif;
}

.selfie {
  width:500px;
}

.about-me {
  float:right;
  width:400px;
  margin:12px;
  border:2px dotted green;
  padding:6px;
  box-sizing:border-box;
}

.about-me h2 {
  text-align:center;
}

.location {
  color:rgb(23, 95, 23);
  font-family:'Courier New', Courier, monospace;
}

.why-coding {
  background-color:rgb(246, 194, 96);
  text-align:center;
  padding:3px;
}

.projects {
  margin:4px;
  border:2px solid green;
  padding:6px;
  box-sizing:border-box;
}

.projects h2 {
  color:green;
}

.git {
  text-align:center;
  font-size:small;
}

.smaller-pics img {
  width:28%;
  padding:4px;
  box-sizing:border-box;
}

.photos-text {
  font-family:'Courier New', Courier, monospace;
}

#sun {
  text-align:center;
  font-family:'Courier New', Courier, monospace;
  color:rgb(215, 144, 12);
  font-weight:bold;
}

#photos-link {
  text-align:center;
}

#mountain-photo {
  width:82vw;
  height:60vh;
  display:block;
  padding:10px;
  border:3px dashed green;
  box-sizing:border-box;
}

@media screen and (max-width:954px) {
  .about-me {
    float:left;
  }

  .why-coding {
    margin:4px;
    padding:2px;
    clear:both;
  }
}